<form method="post">
    <div class="mb-1">
        <label>Nombre</label>
        <input type="text" class="form-control" id="txtNombre">
    </div>
    <div class="mb-1">
        <label>Precio</label>
        <input type="number" class="form-control" id="txtPrecio">
    </div>
    <div class="mb-1">
        <label>Existencias</label>
        <input type="text" class="form-control" id="txtExistencias">
    </div>
</form>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Existencias</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.Id_Producto }}</td>
                <td>{{ producto.Nombre_Producto }}</td>
                <td>{{ producto.Precio }}</td>
                <td>{{ producto.Existencias }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

